/* SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 5vw;
  width: 100%;
}

button {
  padding: 0.5vw 0.9vw;
  border-radius: 2vw;
  border: none;
  font-size: 1.2vw;
}

/* UTILS */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* DEBUG */

.debug {
  min-height: 80px;
  background-color: lightgrey;
  padding: 2rem;
}

/* HEADER */

.header-page {
  background-color: hsl(208.7deg 100% 49.61%);
  margin: 0;
  height: 20vw;
  display: flex;
  justify-content: center;
}

.container-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5vw 10vw;
  text-align: center;
}

.box-logo {
  /* DEBUG */
  height: 12vw;
  width: 21vw;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menù {
  /* DEBUG */
  height: 14vw;
  width: 14vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: end;
}

.menù ul {
  display: none;
}

/* MAIN */
/* ? OVERVIEW SECTION */

section {
  background-color: white;
}

section:nth-of-type(even) {
  padding: 15vw 0;
  background-color: hsl(243.66deg 60.29% 73.33%);
  color: white;
}

section:nth-of-type(even) .row .col {
  background-color: white;
  color: black;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.row .col {
  width: 80vw;
  margin: 5vw auto;
  min-height: 80vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.row .col .card {
  background-color: hsl(207.57deg 100% 85.49%);
  width: 100%;
  min-height: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5vw;
}

.row .col .card .row .col {
  display: flex;
  align-items: space-around;
  flex-direction: column;
  margin: 0 auto;
  height: 80vw;
  padding: 0 5vw;
}

.row .col .card .row .col .box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.row .col-overview-section .card h3 {
  color: rgb(0 132 253);
}

.row .col-overview-section .card p {
  color: grey;
}

.button-blue {
  background-color: rgb(0 132 253);
  width: 40vw;
  height: 10vw;
  font-size: 1rem;
  border-radius: 10vw;
  color: white;
}

.container .row .col .card-overview-section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0 auto;
  height: 80vw;
  padding: 5vw;
  color: rgb(0 132 253);
}

.container .row .col .card-overview-section p {
  color: grey;
}

.card-overview-section h2 {
  font-size: 3rem;
}

/* ? PLANNING SECTION */

.planning-section .row #planning-transparent-col {
  background-color: transparent;
  height: 150vw;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.planning-section .container .row .white-col {
  color: rgb(17 17 17);
  border-radius: 5vw;
  height: 150vw;
  padding: 5vw;
  text-align: center;
}

.planning-section .container .row .white-col .button-purple {
  background-color: rgb(151 146 228);
  width: 10vw;
  height: 10vw;
  font-size: 1rem;
  border-radius: 10vw;
  color: rgb(17 17 17);
}

/* ? PARTNERS SECTION */

.partners-section .row .col:first-child {
  background-color: transparent;
}
.partners-section .row .col .card {
  background-color: hsl(243.66deg 60.29% 73.33%);
}

.photo-partner {
  margin-top: 5vw;
}

.photo-partner img {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  object-fit: cover;
}

/* ? BENEFIT SECTION */

.benefits-section .row .col {
  display: flex;
  align-items: start;
}

.benefits-section .row .col .card {
  background-color: white;
}

.benefits-section h3 {
  text-align: center;
}

/* ? ABOUT US */

.container-slim {
  margin: 0 5vw;
  width: 80%;
}

.about-us-section .row .col {
  background-color: transparent;
  width: 70vw;
  margin: 5vw auto;
}

.photo-founder {
  margin-left: 3vw;
  align-self: flex-start;
  position: relative;
}

.photo-founder img {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
}

/* ? GET STARTED SECTION */

#center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 20vw;
  text-align: center;
  background-color: hsl(243.66deg 60.29% 73.33%);
  color: white;
}

/* FOOTER */

footer {
  background-color: hsl(0deg 0% 20%);
  height: 70vw;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  color: white;
  font-size: 0.7rem;
  text-align: center;
  padding: 10vw;
}

footer p a {
  color: hsl(243.66deg 60.29% 73.33%);
  text-decoration: underline;
}

/* ! RESPONSIVE TABLET */
@media screen and (min-width: 375px) {
  /* HEADER */
  .header-page {
    margin: 0;
    height: 10vw;
    display: flex;
    justify-content: center;
  }

  .container-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 8vw;
    text-align: center;
  }

  .box-logo {
    /* DEBUG */
    height: 7vw;
    width: 14vw;
    padding: 4px;
  }

  .menù {
    /* DEBUG */
    height: 7vw;
    width: 7vw;
  }

  .row .col {
    min-height: 60vw;
  }

  section:nth-of-type(even) {
    padding: 5vw 0;
  }

  .row .col .card {
    height: 60vw;
  }

  .row .col .card .row .col {
    height: 60vw;
  }

  .menù ul {
    display: none;
  }

  /* MAIN */

  .row .col .card {
    min-height: 60vw;
  }

  /* ? OVERVIEW SECTION */
  .overview-section .container .row .col:first-child {
    width: calc((100% / 3) * 2);
  }

  .overview-section .container .row .col {
    width: calc(100% / 3);
    padding: 0 3vw;
  }

  /* ? PLANNING SECTION */

  /* ? PARTNERS SECTION */

  .partners-section .container .row .col {
    width: 80vw;
    margin: 5vw auto;
    max-height: 20%;
    min-height: 20vw;
    display: block;
  }

  .partners-section .row .col .card {
    width: 100%;
    max-height: 30vw;
    min-height: 30vw;
  }

  .photo-partner {
    margin-left: 3vw;
  }

  .photo-partner img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
  }

  .partners-section .container .row .col .card {
    display: block;
    content: "";
    clear: both;
  }

  .partners-section .container .row .col .card div {
    float: left;
    width: 30vw;
  }

  .partners-section .container .row .col .card .text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  /* ? BENEFITS SECTION */

  .benefits-section .container .row .col {
    width: 40vw;
    margin: 5vw auto;
    min-height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* ? ABOUT US SECTION */
  .container-slim {
    padding: 0 10vw;
    width: 100%;
  }

  .about-us-section .container-slim .row .col:first-child {
    width: calc((80vw / 3) * 2);
    padding-right: 2.5vw;
  }

  .about-us-section .container-slim .row .col {
    width: calc(80vw / 3);
    padding: 0 3vw;
    padding-left: 2.5vw;
  }

  /* FOOTER */

  footer {
    padding: 7vw 20vw;
    justify-content: space-between;
    height: 35vw;
    font-size: 0.6rem;
  }
}

/* ! RESPONSIVE DESKTOP */
@media screen and (min-width: 705px) {
  /* GENERAL */

  .container .row .col .card .row .col {
    width: calc(60vw / 3);
    height: calc(60vw / 3);
  }

  .container .row .col .card .row {
    width: calc(60vw / 3 * 2);
  }

  section:nth-of-type(even) {
    padding: 5vw 0;
  }

  .row .col {
    min-height: calc(60vw / 3);
    margin: 0.8vw auto;
  }

  .row .col .card {
    height: calc(60vw / 3);
  }

  .row {
    margin: 0;
    width: 60vw;
  }

  /* HEADER */
  .header-page {
    height: 4vw;
    background-color: hsl(208.7deg 100% 49.61%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-header {
    display: flex;
    width: 60vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8vw;
    text-align: center;
    margin: 0 auto;
  }

  .box-logo {
    /* DEBUG */
    height: 3vw;
    width: 7vw;
    padding: 8px;
  }

  .menù {
    /* DEBUG */
    height: 3vw;
    width: auto;
    padding: 6px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menù ul {
    display: flex;
    align-items: center;
  }

  .menù ul li {
    height: 3vw;
    width: 8vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
  }

  .menù i {
    display: none;
  }

  /* MAIN */

  /* ? OVERVIEW SECTION */
  .container {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }

  .overview-section .container .row .col {
    padding: 0 0.8vw;
  }

  .overview-section .container .row .col .card {
    min-height: 20vw;
  }

  .overview-section .container .row .col:first-child {
    width: calc((60vw / 3 * 2));
  }

  /* ? PLANNING SECTION */

  .planning-section .container .row {
    display: block;
    content: "";
    clear: both;
  }

  .planning-section .container .row .col {
    float: left;
    width: 30vw;
  }

  /* ? PARTNERS SECTION */

  section {
    margin: 0;
    padding: 3vw;
  }

  .partners-section {
    height: 80vw;
  }

  .partners-section .container-partners {
    flex-direction: column;
    height: 60vw;
  }
  .partners-section .container .row {
    display: flex;
  }

  .partners-section .container .row .label {
    display: flex;
  }

  .partners-section .container .row .col {
    margin: 3vw auto;
    max-height: 10vw;
    min-height: 10vw;
  }

  .partners-section .container .row .col .card {
    width: 100%;
    max-height: 15vw;
    min-height: 15vw;
    margin: 5vw auto;
    background-color: hsl(243.66deg 60.29% 73.33%);
    display: flex;
    flex-direction: row;
  }
  .photo-partner {
    margin-left: 3vw;
    margin-top: 1vw;
    width: 13vw;
  }

  .partners-section .container .row .col .card div {
    width: 13vw;
  }

  .photo-partner img {
    width: 10vw;
    height: 10vw;
  }

  .photo-partner .text {
    flex-grow: 3;
  }
  /* ? BENEFITS SECTION */

  .benefits-section .container {
    display: block;
  }

  .benefits-section .container .row .col {
    margin: 0.8vw -1.6vw;
    max-height: 20vw;
    min-height: 20vw;
    width: 20vw;
    background-color: transparent;
  }

  .benefits-section .container .row {
    justify-content: space-between;
  }

  .benefits-section .container .row .col .card {
    height: 25vw;
    min-height: 20vw;
  }

  /* ? ABOUT US SECTION */

  .about-us-section .container-slim .row .col:first-child {
    width: calc((60vw / 3) * 2);
  }
  .about-us-section .container-slim .row .col {
    width: calc(60vw / 3);
  }

  /* ? GET STARTED SECTION */

  #center-container {
    padding: 0 20vw;
  }

  /* FOOTER */

  footer {
    padding: 4vw 35vw;
    height: 15vw;
    font-size: 0.8rem;
  }
}
