/* SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILS */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* DEBUG */

.debug {
  min-height: 80px;
  background-color: lightgrey;
  padding: 2rem;
}

/* HEADER */

.header-page {
  background-color: hsl(208.7deg 100% 49.61%);
}

.container {
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vw;
  text-align: center;
}

.box-logo {
  /* DEBUG */
  height: 14vw;
  width: 25vw;
  background-color: pink;
  padding: 2px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.men첫 {
  /* DEBUG */
  height: 14vw;
  width: 14vw;
  background-color: pink;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 375px) {
  .header-page {
    background-color: hsl(208.7deg 100% 49.61%);
  }

  .container {
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
  }

  .men첫 {
    /* DEBUG */
    height: 7vw;
    width: 7vw;
    background-color: pink;
  }

  .box-logo {
    /* DEBUG */
    height: 7vw;
    width: 14vw;
    background-color: pink;
    padding: 4px;
  }
}

@media screen and (min-width: 705px) {
  .header-page {
    height: 4vw;
    background-color: hsl(208.7deg 100% 49.61%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2vw;
  }

  .container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
  }

  .box-logo {
    /* DEBUG */
    height: 3vw;
    width: 7vw;
    background-color: pink;
    padding: 8px;
  }

  .men첫 {
    /* DEBUG */
    height: 3vw;
    width: 3vw;
    background-color: pink;
  }

  .men첫 i {
    display: none;
  }
}
