/* SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 5vw;
  width: 100%;
}

/* UTILS */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* DEBUG */

.debug {
  min-height: 80px;
  background-color: lightgrey;
  padding: 2rem;
}

/* HEADER */

.header-page {
  background-color: hsl(208.7deg 100% 49.61%);
  margin: 0;
  height: 20vw;
  display: flex;
  justify-content: center;
}

.container-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5vw;
  text-align: center;
}

.box-logo {
  /* DEBUG */
  height: 14vw;
  width: 25vw;
  background-color: pink;
  padding: 2px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menù {
  /* DEBUG */
  height: 14vw;
  width: 14vw;
  background-color: pink;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menù ul {
  display: none;
}

/* MAIN */
/* ? OVERVIEW SECTION */

section {
  background-color: white;
}

section:nth-of-type(even) {
  padding: 15vw 0;
  background-color: hsl(243.66deg 60.29% 73.33%);
  color: white;
}

section:nth-of-type(even) .row .col {
  background-color: white;
  color: black;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -5vw;
}

.row .col {
  width: 80vw;
  margin: 5vw auto;
  min-height: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row .col .card {
  background-color: hsl(207.57deg 100% 85.49%);
  width: 100%;
  height: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row .col .card .row .col {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 80vw;
}

.row .col .card .row .col .box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

/* ? PLANNING SECTION */

.planning-section .row #planning-transparent-col {
  background-color: transparent;
}

.planning-section .row .col:first-child h3,
.planning-section .row .col:first-child p {
  align-self: self-start;
}

/* ? PARTNERS SECTION */

.partners-section .row .col:first-child {
  background-color: transparent;
}
.partners-section .row .col .card {
  background-color: hsl(243.66deg 60.29% 73.33%);
}

/* ? BENEFIT SECTION */

.benefits-section .row .col {
  display: flex;
  align-items: start;
}

.benefits-section h3 {
  text-align: center;
}

/* ? ABOUT US */

.container-slim {
  padding: 0 5vw;
  width: 80%;
}

.about-us-section .row .col {
  background-color: transparent;
  width: 70vw;
}

/* ? GET STARTED SECTION */

#center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 20vw;
  text-align: center;
  background-color: hsl(243.66deg 60.29% 73.33%);
  color: white;
}

/* FOOTER */

footer {
  background-color: hsl(0deg 0% 20%);
  height: 70vw;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  color: white;
  font-size: 0.7rem;
  text-align: center;
  padding: 10vw;
}

footer p a {
  color: hsl(243.66deg 60.29% 73.33%);
  text-decoration: underline;
}

/* ! RESPONSIVE TABLET */
@media screen and (min-width: 375px) {
  /* HEADER */
  .header-page {
    margin: 0;
    height: 10vw;
    display: flex;
    justify-content: center;
  }

  .container-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;
    text-align: center;
  }

  .box-logo {
    /* DEBUG */
    height: 7vw;
    width: 14vw;
    padding: 4px;
  }

  .menù {
    /* DEBUG */
    height: 7vw;
    width: 7vw;
  }

  .menù ul {
    display: none;
  }

  /* MAIN */

  /* ? OVERVIEW SECTION */
  .overview-section .container .row .col:first-child {
    width: calc((100% / 3) * 2);
  }

  .overview-section .container .row .col {
    width: calc(100% / 3);
    padding: 0 3vw;
  }

  /* ? PLANNING SECTION */

  /* ? PARTNERS SECTION */

  .partners-section .container .row .col {
    width: 80vw;
    margin: 5vw auto;
    max-height: 30vw;
    min-height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .partners-section .row .col .card {
    background-color: hsl(207.57deg 100% 85.49%);
    width: 100%;
    max-height: 30vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* ? BENEFITS SECTION */

  .benefits-section .container .row .col {
    width: 40vw;
    margin: 5vw auto;
    min-height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* ? ABOUT US SECTION */
  .container-slim {
    padding: 0 10vw;
    width: 100%;
  }

  .about-us-section .container-slim .row .col:first-child {
    width: calc((80vw / 3) * 2);
    padding-right: 2.5vw;
  }

  .about-us-section .container-slim .row .col {
    width: calc(80vw / 3);
    padding: 0 3vw;
    padding-left: 2.5vw;
  }
}

/* ! RESPONSIVE DESKTOP */
@media screen and (min-width: 705px) {
  /* GENERAL */

  .container .row .col .card .row .col {
    width: calc(60vw / 3);
    height: calc(60vw / 3);
  }

  .container .row .col .card .row {
    width: calc(60vw / 3 * 2);
  }

  section:nth-of-type(even) {
    padding: 5vw 0;
  }

  .row .col {
    min-height: calc(60vw / 3);
    margin: 0.8vw auto;
  }

  .row .col .card {
    height: calc(60vw / 3);
  }

  .row {
    margin: 0;
    width: 60vw;
  }

  /* HEADER */
  .header-page {
    height: 4vw;
    background-color: hsl(208.7deg 100% 49.61%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-header {
    display: flex;
    width: 60vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8vw;
    text-align: center;
    margin: 0 auto;
  }

  .box-logo {
    /* DEBUG */
    height: 3vw;
    width: 7vw;
    background-color: pink;
    padding: 8px;
  }

  .menù {
    /* DEBUG */
    height: 3vw;
    width: auto;
    padding: 6px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  }

  .menù ul {
    display: flex;
    align-items: center;
    background-color: pink;
  }

  .menù ul li {
    height: 3vw;
    width: 4vw;
    background-color: gray;
    margin: 0;
    border: 3px dashed red;
  }

  .menù i {
    display: none;
  }

  /* MAIN */

  /* ? OVERVIEW SECTION */
  .container {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }

  .overview-section .container .row .col {
    padding: 0 0.8vw;
  }

  .overview-section .container .row .col:first-child {
    width: calc((60vw / 3 * 2));
  }

  /* ? PLANNING SECTION */

  .planning-section .container .row {
    display: block;
    content: "";
    clear: both;
  }

  .planning-section .container .row .col {
    float: left;
    width: 30vw;
  }

  /* ? PARTNERS SECTION */

  section {
    margin: 0;
    padding: 5vw;
  }
  .partners-section .container .row .col {
    margin: 1vw auto;
    max-height: 10vw;
    min-height: 10vw;
  }

  /* ? BENEFITS SECTION */

  .benefits-section .container {
    display: block;
  }

  .benefits-section .container .row .col {
    margin: 0.8vw -1.6vw;
    max-height: 25vw;
    min-height: 25vw;
    width: 20vw;
    background-color: transparent;
  }

  .benefits-section .container .row {
    justify-content: space-between;
  }

  .benefits-section .container .row .col .card {
    background-color: white;
    height: 25vw;
  }

  /* ? ABOUT US SECTION */

  #center-container {
    padding: 0 20vw;
  }
}
